#wrapper {
  margin: 0 auto;
  width: 1080px;
  overflow: hidden;
}

#content {
  width: 720px;
  float: left;
}

#playlist {
  margin-left: 720px;
  width: 350px;
  border-left: 1px solid black;
  height: 100%;
  padding: 0 10px;
}

#playlist div.playlist_item {
  background: #E0EEEE;
  padding: 0;
  padding-left: 5px;
  margin: 5px 0;
}

#playlist div.playlist_item p {
  padding: 5px 0;
  margin: 0;
}

#playlist div.playing {
  background: #A3EBEB;
}

#player {
  position: absolute;
  top: 0px;
  right: 0px;
}

#load {
  float: right;
}

#controls {
  text-align: center;
}
