#wrapper {
  margin: 0 auto;
  width: 1080px;
}

#content {
  width: 720px;
  float: left;
}

#playlist {
  margin-left: 720px;
  width: 360px;
  border-left: 1px solid black;
  height: 100%;
  padding: 0 10px 
}
