- title 'Songs'

%table
  %tr
    %th Artist
    %th Title
    %th Site
    %th Action

  - @songs.each do |song|
    %tr[song]
      %td= song.artist
      %td= link_to song.title, song
      %td= link_to song.site.name, song.site
      %td= add_to_playlist "Add to playlist", song
